//general styles
#indicator-display {
    $indicatorColor: #666;
    @include absolute(130px, 0, 10px, 0);
    color: $indicatorColor;
    text-align: left;
    padding: 10px 30px;
    font-family: $fontFamily;
    overflow: hidden;
    overflow-y: scroll;
}
//large specific styles
&.large, &.medium {
    #indicator-display {
        @include absolute(0, 0, 10px, 50%);
    }
}