* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 40px;
}

.range-slider {
    
  // Slider
  .input-range {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    
    // Slider Handle
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #353535;
      cursor: pointer;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out;
      
      &:hover {
        background: #e06161;
      }
    }
    
    &:active::-webkit-slider-thumb {
      background: #e06161;
    }
    
    &::-moz-range-thumb {
      width:20px;
      height: 20px;
      border: 0;
      border-radius: 50%;
      background: #353535;
      cursor: pointer;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out;
      
      &:hover {
        background: #e06161;
      }
    }
    
    &:active::-moz-range-thumb {
      background: #e06161;
    }
  }
  
  // Tooltip Tag
  .range-value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #353535;
    padding: 5px 10px;
    margin-left: 7px;
    
    &:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #353535;
      border-bottom: 7px solid transparent;
      content: '';
    }
  }
}

// Firefox Overrides
::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}