@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\000037}}
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000310}}
body .ui-slider-handle {
  height: 18px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000314}}
body .ui-slider {
  height: 12px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000318}}
body #settingsButton {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000322}}
body #label-year {
  font-weight: bold;
  font-size: 70px;
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000330}}
body .chart .axisLabel {
  font-size: 27px;
  font-style: italic;
  fill: slategrey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000334}}
body .chart .axisLabel .print {
  fill: gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000339}}
body .chart .axis line {
  fill: black;
  shape-rendering: "crispEdges";
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000345}}
body .chart .axis path {
  shape-rendering: "crispEdges";
  stroke-width: 6;
  fill: gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000350}}
body .chart .axis text {
  font-size: 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000353}}
body .chart .axis .tick.major text {
  font-size: 30px;
  fill: slategrey;
  stroke-width: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000360}}
body .chart .axis.print text {
  font-style: italic;
  font-weight: 500;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000364}}
body .chart .axis.print .domain {
  stroke: black;
  stroke-width: 4.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/amir\/dev\/projects\/vizabi\/app\/tools\/bubble-chart\/styles\/bubble-chart\.scss}line{font-family:\0000368}}
body .chart .axis.print .tick.major line {
  stroke-dasharray: 2, 2;
}
