svg.header {
    font-family: "Arial Rounded MT Bold";
    font-size: 28px;
    fill: #7394A6;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

div.select {
    position: absolute;
    visibility: hidden;
}

rect.select {
    stroke: #7394A6;
    stroke-width: 2px;
    fill: #FDFDFD;
}

text.select {
    font-family: "Arial Rounded MT Bold";
    font-size: 16px;
    fill: #7394A6;
    text-anchor: start;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

polygon.select {
    fill: #7394A6;
}

.label_inactive {
    font-family: "Arial Rounded MT Bold";
    font-size: 26px;
    cursor: default;
    opacity: 0.1;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.label_still {
    font-family: "Arial Rounded MT Bold";
    font-size: 26px;
    cursor: default;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.label_active {
    font-family: "Arial Rounded MT Bold";
    font-size: 26px;
    cursor: default;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.label-box {
    cursor: pointer;
    opacity: 0.5;
}

.label-box text {
    font-family: "Arial Rounded MT Bold";
    font-size: 16px;
    text-anchor: middle;
    fill: #FDFDFD;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.mountains_inactive {
    stroke: #607889;
    stroke-width: 2;
    opacity: 0.1;
}

.mountains_still {
    stroke: #607889;
    opacity: 0.8;
    stroke-width: 2;
}

.mountains_active {
    stroke: #607889;
    opacity: 1;
    stroke-width: 2;
}

.axis_text {
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.aboutData {
    font-family: 'Arial Rounded MT Bold';
    font-size: 12px;
    opacity: 0.6;
    fill: #686868;
}
