.vizabi-im-header {
    font-family: "Arial Rounded MT Bold";
    font-size: 28px;
    fill: #7394A6;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.vizabi-im-labels {
    font-family: "Arial Rounded MT Bold";
    font-size: 26px;
    
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.vizabi-im-labels .text {
    cursor: pointer;
}

.vizabi-im-labels .text.shadow {
    opacity: 0.3;
}

.vizabi-im-labels .text.bold {
    opacity: 1;
}

.vizabi-im-labels .delete {
    cursor: pointer;
    opacity: 0.5;
    font-size: 16px;
    text-anchor: middle;
    fill: #FDFDFD;
}

.vizabi-im-labels .delete.shadow {
    opacity: 0.1;
}

.vizabi-im-mountains .mountains {
    stroke-width: 2;
    stroke: #607889;
    opacity: 0.8;
}

.vizabi-im-mountains .mountains.shadow {
    opacity: 0.1;
}

.vizabi-im-mountains .mountains.bold {
    opacity: 1;
}

.vizabi-im-axis {
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.vizabi-timeslider-1 {
    font-family: "Arial Rounded MT Bold";
    fill: #7394A6;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.vizabi-timeslider-1 .text {
    font-size: 40px;
}

.vizabi-timeslider-1 .tick {
    font-size: 20px;
}

.vizabi-timeslider-1 path, line {
    fill: #3C6170;
    stroke: #3C6170;
}

.vizabi-timeslider-button-play circle {
    fill: #3C6170;
    stroke: #3C6170;
    stroke-width: 2px;
}

.vizabi-timeslider-button-play path {
    fill: #F2FAFC;
}

.vizabi-timeslider-button-play:active circle {
    fill: #F2FAFC;
}

.vizabi-timeslider-button-play:active path {
    fill: #3C6170;
}

.vizabi-timeslider-button-pause path {
    fill: #F2FAFC;
}

.vizabi-timeslider-button-pause circle {
    fill: #3C6170;
    stroke: #3C6170;
    stroke-width: 2px;
}

.vizabi-timeslider-button-pause:active path {
    fill: #3C6170;
}

.vizabi-timeslider-button-pause:active circle {
    fill: #F2FAFC;
    stroke: #3C6170;
    stroke-width: 2px;
}

.vizabi-timeslider-button-move path {
    stroke: #3C6170;
    stroke-width: 2px;
    stroke-miterlimit: 10;
    fill: #3C6170;
}

.vizabi-timeslider-button-move rect {
    fill: #F2FAFC;
}

.vizabi-timeslider-button-move:active path {
    fill: #F2FAFC;
}

.vizabi-timeslider-button-move:active rect {
    fill: #3C6170;
}
